@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.fixwind{
    width: inherit;
    height: inherit;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 23%;
   padding: 0px;
}
.footer-col p4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 5px;
	font-weight: 500;
	position: relative;
	text-decoration: underline;
	text-decoration-color:#e91e63;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	margin: 2px;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media (max-width:1300px) {
	.footer-col{
		width: 41%;
		padding: 0px;
		margin-bottom: 20px;
	 }
}
@media(max-width: 767px){
  .footer-col{
    width: 40%;
    margin-bottom: 20px;
}
}
@media(max-width: 520px){
  .footer-col{
    width: 70%;
	margin-bottom: 10px;
}
}



