nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
    display: flex;
    backdrop-filter: blur(4px);
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background: rgba(221, 245, 247, 0.985);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
      height: 57px;
      z-index: 1;
      border-radius: 4px;
  }
  
  nav.scrolled {
      background-color: rgba(126, 154, 157, 0.6); /* Change to your desired background color on scroll */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow on scroll */
      animation: fadeIn 1s ease;
      backdrop-filter: blur(4px)!important;
    }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
 
  
  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    transition: 0.3s ease-in-out;
  }
  #navbar li a:hover,
  #navbar li a.active {
    color: #2dd4bf;
  }
  
  #navbar li a:hover::after,
  #navbar li a.active::after {
    content: "";
    width: 58%;
    height: 2px;
    background: #2dd4bf;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  
  #mobile {
    display: none;
  }

  
  #mobile i {
    color: black;
    align-items: center;
  
  }
  @media screen  and (max-width :1200px){
    #pc{
      display: none;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
  
  @media  (max-width: 900px) {
    nav {
      display: flex;
      align-items: center;
      backdrop-filter: blur(4px);
      justify-content: space-between;
      background: rgba(243, 254, 255, 0.9);
      padding: 4px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
      height: 57px;
      z-index: 2;
      border-radius: 4px;
    }
    .color{
      background-color: rgba(243, 254, 255, 0.9);
      backdrop-filter: blur(4px);
    }
    .scrollcolor{
      background-color: rgba(126, 154, 157, 0.9);
      backdrop-filter: blur(4px);
      
    }
    #navbar {
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 57px;
    right: -200px;
    overflow-y: auto;
    /* top: 75px; */
    backdrop-filter: blur(4px)!important;
    /* right: -125px; */
    width: 200px;
    min-height: 100vh;
    max-height: 100vh;
    box-shadow: 38px 61px 79px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    border: 1px inset;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    }
    #navbar.active {
      right: 0px;
      z-index: 200;
      
    }
    
  
    #navbar li {
      margin-bottom: 25px;
    }
  
    #mobile {
      display: block;
    }
  
    #mobile i {
      font-size: 24px;
      cursor: pointer;
    }
  }
  