.effect:hover >  img{
    // opacity:1;
       transform: scale(1.2);
       opacity: 98%;
        
             
}
#height{
  min-height: fit-content !important;
}
#max-height{
  height: 310px;
}


.arrow{
  border: solid #21DA8C;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

.down {
  
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}




// span {
//   opacity: var(--active, 0);
// }